Repository VanessaKingsleyHerts/BidShopping: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-image, lint, unit_tests, functional_tests

Path conditions:
  build-image: any of: Dockerfile, requirements*.txt, **/*.py, ci/**
  lint: any of: **/*.py, pyproject.toml, setup.cfg, .flake8
  unit_tests: any of: **/*.py, manage.py, requirements*.txt, ci/**
  functional_tests: any of: templates/**/*, static/**/*, functional_tests/**/*

ci: update merged CI log dataset [skip ci]
  data/all_logs.csv
Due: none

update for optimization
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.ci
  apt-packages.txt
Due: build-image

update optimised setup
  .gitlab-ci.yml
  Dockerfile.ci
  auction/tests/test_force_fail.py
  ci/apt-packages.txt
  functional_tests/test_page.py
Due: build-image, lint, unit_tests, functional_tests

update yaml
  .gitlab-ci.yml
  Dockerfile.ci
  auction/tests/test_force_fail.py
  functional_tests/test_page.py
Due: build-image, lint, unit_tests, functional_tests

update yaml
  .gitlab-ci.yml
Due: none

yaml update
  .gitlab-ci.yml
Due: none

yaml update
  .gitlab-ci.yml
  functional_tests/test_page.py
Due: build-image, lint, unit_tests, functional_tests

baseline run
  .gitlab-ci.yml
Due: none

test_user_dashboard
  .gitlab-ci.yml
  functional_tests/test_page.py
Due: build-image, lint, unit_tests, functional_tests

yaml and functional test update
  .gitlab-ci.yml
  functional_tests/test_page.py
Due: build-image, lint, unit_tests, functional_tests

yaml upate
  .gitlab-ci.yml
Due: none
